__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv
.env

node_modules/
.next/
npm-debug.log*

data/
!/src/data/
/src/data/audit/

.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Coverage
.coverage
.coverage.*

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# pytest
.pytest_cache/
