# Normalize line endings
* text=auto

# Explicitly keep LF for these files
.env.example text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.sh text eol=lf
Dockerfile text eol=lf
